* {
  box-sizing: initial !important;
  padding: 0;
}

a:hover, a:active {
  text-decoration: none !important;
}

/*********************************Header*********************************/

@media only screen and (max-width: 1200px) {
  .banner {
    height: 47.22222vw;
  }
}

.hide {
  display: none;
}

section.bg-img {
  background: url(../images/drawable-xhdpi/banner_bg5.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -61px;
}

.banner.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
}

.banner .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.banner {
  position: relative;
  height: 680px;
  /* background-image: url(../img/banner@2x.jpg); */
  background-size: 2048px 680px;
  background-position: top;
  background-repeat: no-repeat;
}

nav.pc-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  nav.pc-nav {
    padding-left: 10px;
    padding-right: 10px;
  }
}

nav.pc-nav .nav-content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.logo img {
  width: 190px;
}

nav.pc-nav .nav-content-wrap>ul {
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

nav.pc-nav .nav-content-wrap ul li a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

nav.pc-nav .nav-content-wrap li {
  margin-right: 30px;
}

nav.pc-nav .nav-content-wrap .btn-login {
  border: none;
  background: #fff;
  padding: 8px 40px;
  font-size: 18px;
  transition: all 0.3s;
  position: relative;
  box-shadow: 0px 8px 32px 0px rgba(178, 155, 30, 0.4);
  border-radius: 7vw;
  color: rgb(255, 202, 75);
  min-width: 0 !important;
  outline: none;
}

nav.mobile-nav {
  display: none;
  width: 100%;
  z-index: 4;
  overflow-y: auto;
}

nav.mobile-nav .nav-content-wrap li:not(:last-child) {
  border-bottom: 1px solid #e9e9e9;
}

nav.mobile-nav .nav-content-wrap>ul {
  padding: 0 20px;
}

nav.mobile-nav .nav-content-wrap {
  height: calc(100vh - 58px);
  color: white;
  display: none;
}

nav.mobile-nav .nav-content-wrap li {
  opacity: 0;
  padding: 15px 0;
}

nav.mobile-nav .nav-content-wrap li a {
  width: 100%;
  display: block;
  font-size: 18px;
  color: #fff;
}

.nav-wrap.active {
  transform: translateY(0);
  opacity: 1;
  z-index: 999999;
  position: fixed;
  background: rgb(255, 202, 75);
  z-index: 999999;
  transition: all .3s;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
}

.no-header {
  background: rgb(255, 202, 75);
}

.nav-wrap {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  position: relative;
}

.nav-wrap ul.sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 150px !important;
  border: 1px solid rgb(255, 202, 75);
  position: absolute;
  top: 40px !important;
}

.nav-wrap li ul.sub-menu li {
  width: 100%;
}

.nav-wrap li ul.sub-menu li a {
  color: #818285;
  padding: 5px 0;
  font-size: 16px;
  display: block;
  cursor: pointer;
  text-transform: capitalize;
}

.nav-wrap li ul.sub-menu li a:hover {
  color: rgb(255, 202, 75);
}

@media only screen and (max-width: 767px) {
  nav.pc-nav {
    display: none;
  }
  nav.mobile-nav {
    display: block;
  }
  nav.mobile-nav.active .nav-content-wrap li.active {
    display: block;
    animation: slideIn .5s ease-in-out-forwards;
    -webkit-animation: slideIn .5s ease-in-out-forwards;
  }
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translate(40px, 0);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  nav.mobile-nav.active .nav-content-wrap>ul {
    margin-right: 8vw;
  }
  nav.mobile-nav.active .nav-content-wrap li {
    padding-top: 4.6875vw;
    padding-bottom: 4.6875vw;
    font-size: 5vw;
    opacity: 1;
  }
  nav.mobile-nav.active .nav-content-wrap li a {
    color: #fff;
  }
  nav.mobile-nav.active {
    background: rgb(255, 202, 75);
  }
  nav.mobile-nav .logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  nav.mobile-nav .nav-control {
    color: inherit;
    cursor: pointer;
    display: inline-block;
  }
  nav.mobile-nav .nav-control .close {
    display: none;
    opacity: 1;
  }
  nav.mobile-nav .nav-control .open {
    display: block;
    opacity: 1;
  }
  nav.mobile-nav.active .nav-control .close {
    display: block;
  }
  nav.mobile-nav.active .nav-control .open {
    display: none;
  }
  nav.mobile-nav .nav-control i {
    font-size: 28px;
  }
  nav.mobile-nav .nav-control .fa {
    color: #fff;
    font-style: normal;
  }
  nav.mobile-nav .sub-menu {
    width: 92% !important;
    text-align: left;
    padding: 0 20px;
  }
  nav.mobile-nav .sub-menu li {
    padding: 10px 0 !important;
    margin: 0 !important;
  }
}

/*  */

/*  Dropdown menu*/

/* ul.sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 150px !important;
  border: 1px solid rgb(255, 202, 75);
} */

/* #header .navbar-nav li ul.sub-menu li a {
  color: #818285;
  padding: 5px 0;
  font-size: 16px;
  display: block;
  text-transform: capitalize;
}

#header .navbar-nav li ul.sub-menu li .active {
  background: rgb(255, 202, 75);
  color: #fff;
  position: relative;
}

#header .navbar-collapse ul li.m_language {
  display: none;
}

#header .navbar-nav li ul.sub-menu li .active i {
  position: absolute;
  font-size: 56px;
  top: -13px;
  color: rgb(255, 202, 75);
}

#header .navbar-nav li ul.sub-menu li .active .fa-angle-right {
  left: -3px;
}

#header .navbar-nav li ul.sub-menu li .active .fa-angle-left {
  right: -3px;
}

#header .navbar-nav li ul.sub-menu li a:hover, #header .navbar-nav li ul.sub-menu li a:focus {
  background: rgb(255, 202, 75);
  color: #fff;
} */

.fa-angle-down {
  padding-left: 5px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

/************************************************** 登陆后头部显示 *********************************/

.loginhead .avatar-info {
  display: none;
  position: absolute;
  right: 0;
  top: 55px;
  width: 190px;
  background: #fff;
  -webkit-box-shadow: 0 0 11px #ccc;
  -ms-box-shadow: 0 0 11px #ccc;
  -moz-box-shadow: 0 0 11px #ccc;
  box-shadow: 0 0 11px #ccc;
  padding: 0;
  margin: 0;
  word-break: break-all;
  z-index: 99;
}

.loginhead .avatar-info dl {
  padding: 0px;
  line-height: 15px;
  font-size: 14px;
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
  margin: 0;
}

.loginhead .avatar-info dl a {
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin: 0;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #222;
  text-decoration: none;
}

.loginhead .avatar-info dl dt {
  color: #444;
  font-weight: 700
}

.loginhead .avatar-info dd {
  color: #666;
  line-height: 20px;
  font-size: 13px
}

.loginhead .avatar-info dd :hover {
  color: rgb(255, 202, 75)
}

.loginhead .avatar-info ul {
  position: relative;
  padding: 15px 10px 0 0;
  float: none;
  display: inline-block;
  width: 100%;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  padding: 11px 0
}

.loginhead .avatar-info ul li {
  float: none;
  line-height: 38px;
  padding: 3px 15px;
  margin: 0
}

.loginhead .avatar-info ul li a {
  position: relative;
  display: block;
  width: auto;
  height: 38px;
  color: #444;
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  padding: 5px !important;
}

.loginhead .avatar-info ul li:hover {
  color: #fff;
  background: rgb(255, 202, 75);
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px
}

.loginhead .avatar-info ul li a:hover {
  color: #fff !important;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/*********************************Footer********************************/

#footer {
  padding-bottom: 10px;
  background-image: url(../images/drawable-xhdpi/footer.jpg);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;
}

#footer a {
  color: rgb(51, 122, 183);
}

#footer h1 {
  margin-bottom: 65px;
  margin-top: 36px;
}

#footer .bottom-separator {
  margin-bottom: 60px;
}

#message {
  height: 110px;
  resize: none;
}

.bottom>h2 {
  margin-top: 0;
  margin-bottom: 26px;
}

.bottom .media-body h3 {
  margin-top: 0;
  padding-left: 25px;
}

.bottom .media-body h3 a {
  color: #ea2c00;
}

.testimonial .media {
  margin-top: 0;
  margin-bottom: 25px;
}

.testimonial .media>.pull-left {
  margin-right: 25px;
}

.testimonial .media>.pull-left img {
  margin-top: 6px;
}

.testimonial .media .media-body blockquote {
  padding-left: 25px;
  padding-right: 30px;
  position: relative;
  border-left: 0;
  margin-bottom: 0;
}

.testimonial .media .media-body blockquote:before {
  position: absolute;
  left: 5px;
  top: 8px;
  content: '"';
  font-size: 40px;
  color: #ea2c00;
  font-family: 'Noto Sans', sans-serif;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Opera, Chrome, and Safari */
  line-height: 0;
}

.testimonial .media .media-body blockquote:after {
  position: absolute;
  right: 30px;
  bottom: 14px;
  content: '"';
  font-size: 40px;
  color: #ea2c00;
  font-family: 'Noto Sans', sans-serif;
  line-height: 0;
}

.contact-info.bottom {
  padding-left: 25px;
}

.bottom>address {
  line-height: 22px;
  margin-bottom: 40px;
}

.form-control {
  border: 1px solid #eaeaea;
  font-weight: 300;
  outline: none;
  box-shadow: none;
  height: 40px;
}

.form-control:hover, .form-control:focus {
  border-color: rgb(51, 122, 183);
  outline: none;
  box-shadow: none;
}

.btn-submit {
  width: 100%;
  background-color: rgb(255, 202, 75);
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-radius: 3px;
  margin-top: 5px;
  border-bottom: 3px solid rgb(246, 174, 4);
  box-shadow: none;
  padding: 10px;
}

.btn-submit:hover, .btn-submit:focus {
  color: #fff;
  outline: none;
  box-shadow: none;
  opacity: .8;
}

.copyright-text {
  margin-top: 70px;
  color: #fff;
  font-size: 16px;
  padding-bottom: 15px;
}

.copyright-text a {
  color: #3e848a
}

.copyright-text p {
  margin-bottom: 0;
}

#footer_m {
  display: none;
}

.logined .login-avatar img {
  border-radius: 50%;
}

.logined {
  position: relative;
}

.logined .menu-list {
  width: 180px;
  position: absolute;
  right: -60px;
  top: 40px;
  padding: 10px;
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  color: black !important;
  z-index: 999999;
}

.logined .menu-list section {
  line-height: 60px;
  border-bottom: 1px solid #eee;
  text-align: center;
  font-weight: 600;
}

.logined .menu-list section a {
  color: black;
}

.logined .menu-list .user-box-list {
  padding: 6px 0;
}

.logined .menu-list .user-box-list .user-box-list-area:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}

.logined .menu-list .user-box-list .user-box-list-area p {
  height: 44px;
  line-height: 44px;
  cursor: pointer;
}

.logined .menu-list .user-box-list .user-box-list-area p:hover {
  background: rgb(255, 202, 75);
}

.logined .menu-list .user-box-list .user-box-list-area p a {
  color: black !important;
  display: inline-block;
  position: relative;
  padding-left: 20px;
}