.mask {
    position: fixed;
    bottom: 0;
    right: 16px;
    left: 0;
    top: 0;
}

.mask {
    z-index: 1;
    background-color: rgba(238, 240, 246, .7)
}

.mask .popupLoginIframe {
    border: 1px solid #bfbfbf;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 590px
}

.mask .popupLoginIframe .closeIframe {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    stroke: #bec1c9
}

.mask .popupLoginIframe .closeIframe svg {
    width: 100%;
    height: 100%;
    stroke: inherit;
    display: block;
    pointer-events: none
}

.mask .popupLoginIframe .closeIframe:hover {
    stroke: #9fa3af!important
}

.mask .popupLoginIframe iframe {
    border: none;
    width: 100%;
    height: 100%
}

.getVeriryCode {
	cursor: pointer;
}

.icon_sign {
	background-image: url("../images/E_sign-icon.png");
}

@media (min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {
	.icon_sign {
		background-image: url("../images/E_sign-icon.png");
	}
}

.error .warn {
	display: none;
}

.switch-site {
	display: none;
}

.dis_none {
	display: none;
}


.antialiased,body {
	-moz-osx-font-smoothing: grayscale
}

.divider,.l-divider {
	height: 1px;
	width: 100%
}

.drag,.invisible {
	visibility: hidden
}

.file-wrap,.middle-line,img.round {
	overflow: hidden
}

.text-tny {
	font-size: 12px
}

.text-sml {
	font-size: 13px
}

.text-def {
	font-size: 14px
}

.text-med {
	font-size: 16px
}

.text-lrg {
	font-size: 22px
}

.left {
	float: left!important
}

.right {
	float: right!important
}

.chrome-extension .forgot-password .link,.line-right {
	float: right
}

.clearfix:after,.clearfix:before {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

.hide {
	display: none!important
}

.hidden,body>svg {
	display: none
}

.antialiased {
	-webkit-font-smoothing: antialiased
}

.l-divider {
	margin: 10px 0
}

.i-mic {
	width: 12px;
	height: 12px
}

.i-tny {
	width: 14px;
	height: 14px
}

.i-sml {
	width: 16px;
	height: 16px
}

.i-mid {
	width: 30px;
	height: 30px
}

.i-lrg,.i-med {
	width: 40px;
	height: 40px
}

.i-lrg-x {
	width: 48px;
	height: 48px
}

.i-xl {
	width: 100px;
	height: 100px
}

.i-xxl {
	width: 180px;
	height: 180px
}

.i-xxxl {
	width: 192px;
	height: 192px
}

.i-redeem {
	width: 156px;
	height: 96px
}

.line-left,.line-right {
	position: relative
}

.line-right {
	z-index: 1
}

.b-h {
	height: 100%
}

.drag {
	position: absolute;
	cursor: move
}

.shadow {
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.12),0 3px 16px rgba(0,0,0,.16);
	box-shadow: 0 2px 6px rgba(0,0,0,.12),0 3px 16px rgba(0,0,0,.16);
	border-radius: 2px
}

.pop-shadow {
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.16),0 3px 20px rgba(0,0,0,.16);
	box-shadow: 0 2px 6px rgba(0,0,0,.16),0 3px 20px rgba(0,0,0,.16);
	border-radius: 3px
}

.dropdown-toggle {
	cursor: pointer
}

img.round {
	border-radius: 50%
}

.btns {
	line-height: 1
}

.nowrap {
	white-space: nowrap
}

.text-center {
	text-align: center
}

.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

.drag-help {
	width: 90%;
	max-width: 360px;
	opacity: .9
}

.loading,.loading-view {
	width: 100%;
	height: 100%;
	z-index: 1045;
	text-align: center
}

.line-sml {
	line-height: 21px
}

.can-not-select *,.select-disabled * {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none
}

.can-not-select [contenteditable],.can-not-select input,.can-not-select textarea,.can-select,.can-select *,.select-disabled [contenteditable],.select-disabled input,.select-disabled textarea,.select-enabled,.select-enabled * {
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text
}

.tl-body .antiscroll-wrap {
	position: static
}

.loading-view {
	background-color: #fff;
	position: absolute;
	top: 0
}

.btn,.button,.card,.form,.input-bar,.sign .row,button {
	position: relative
}

.loading-view .logo {
	position: relative;
	height: 100%;
	top: 50%;
	margin-top: -100px
}

.loading {
	position: absolute
}

.icon-email-orange,.icon-email-gray,.icon-lock-orange,.icon-lock-gray {
	width: 24px;
	height: 24px
}

.avoid-event svg {
	pointer-events: none
}

.btn,.button,button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 0;
	min-width: 100px;
	cursor: pointer;
	font-family: -apple-system,".SFNSText-Regular","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif,Meiryo;
	font-weight: 400;
	line-height: 1;
	margin: 0;
	text-align: center;
	text-decoration: none;
	outline: 0;
	display: inline-block;
	font-size: 14px;
	color: #fff;
	background-color: rgb(255,202,75);
	-webkit-transition: background-color .2s ease;
	transition: background-color .2s ease;
	padding: 11px 16px
}

.btn:focus,.btn:hover,.button:focus,.button:hover,button:focus,button:hover {
	background-color: rgb(249, 182, 20)
}

.btn:active,.button:active,button:active {
	background-color: rgb(249, 182, 20)
}

.btn.btn-primary,.button.btn-primary,button.btn-primary {
	color: #fff;
	background-color: rgb(255,202,75);
}

.btn.btn-primary:focus,.btn.btn-primary:hover,.button.btn-primary:focus,.button.btn-primary:hover,button.btn-primary:focus,button.btn-primary:hover {
	background-color: rgb(249, 182, 20)
}

.btn.btn-primary:active,.button.btn-primary:active,button.btn-primary:active {
	background-color: rgb(249, 182, 20)
}

.btn.btn-cancel,.btn.btn-secondary,.button.btn-cancel,.button.btn-secondary,button.btn-cancel,button.btn-secondary {
	color: rgba(0,0,0,.85);
	background-color: #eee;
	border: 1px solid #d3d3d3;
	padding-top: 10px;
	padding-bottom: 10px
}

.btn.btn-cancel.btn-tny,.btn.btn-secondary.btn-tny,.button.btn-cancel.btn-tny,.button.btn-secondary.btn-tny,button.btn-cancel.btn-tny,button.btn-secondary.btn-tny {
	padding-top: 6px;
	padding-bottom: 6px
}

.btn.btn-cancel.btn-sml,.btn.btn-secondary.btn-sml,.button.btn-cancel.btn-sml,.button.btn-secondary.btn-sml,button.btn-cancel.btn-sml,button.btn-secondary.btn-sml {
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 13px
}

.btn.btn-cancel.btn-med,.btn.btn-secondary.btn-med,.button.btn-cancel.btn-med,.button.btn-secondary.btn-med,button.btn-cancel.btn-med,button.btn-secondary.btn-med {
	padding-top: 10px;
	padding-bottom: 10px
}

.btn.btn-cancel.btn-lrg,.btn.btn-secondary.btn-lrg,.button.btn-cancel.btn-lrg,.button.btn-secondary.btn-lrg,button.btn-cancel.btn-lrg,button.btn-secondary.btn-lrg {
	padding-top: 12px;
	padding-bottom: 12px
}

.btn.btn-cancel:focus,.btn.btn-cancel:hover,.btn.btn-secondary:focus,.btn.btn-secondary:hover,.button.btn-cancel:focus,.button.btn-cancel:hover,.button.btn-secondary:focus,.button.btn-secondary:hover,button.btn-cancel:focus,button.btn-cancel:hover,button.btn-secondary:focus,button.btn-secondary:hover {
	background-color: #d6d6d6;
	border-color: #bebebe
}

.btn.btn-cancel:active,.btn.btn-secondary:active,.button.btn-cancel:active,.button.btn-secondary:active,button.btn-cancel:active,button.btn-secondary:active {
	background-color: #bebebe;
	border-color: #a9a9a9
}

.btn.btn-alert,.button.btn-alert,button.btn-alert {
	color: #fff;
	background-color: red
}

.btn.btn-alert:focus,.btn.btn-alert:hover,.button.btn-alert:focus,.button.btn-alert:hover,button.btn-alert:focus,button.btn-alert:hover {
	background-color: red
}

.btn.btn-alert:active,.button.btn-alert:active,button.btn-alert:active {
	background-color: red
}

.btn.btn-normal,.button.btn-normal,button.btn-normal {
	color: rgba(0,0,0,.36);
	background-color: #fff
}

.btn.btn-normal:focus,.btn.btn-normal:hover,.button.btn-normal:focus,.button.btn-normal:hover,button.btn-normal:focus,button.btn-normal:hover {
	background-color: #e6e6e6
}

.btn.btn-normal:active,.button.btn-normal:active,button.btn-normal:active {
	background-color: #ccc
}

.btn.btn-tny,.button.btn-tny,button.btn-tny {
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 13px
}

.btn.btn-sml,.button.btn-sml,button.btn-sml {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 14px
}

.btn.btn-med,.button.btn-med,button.btn-med {
	padding-top: 11px;
	padding-bottom: 11px;
	font-size: 14px
}

.btn.btn-lrg,.button.btn-lrg,button.btn-lrg {
	padding-top: 13px;
	padding-bottom: 13px;
	font-size: 14px
}

.btn.disabled,.btn.disabled.btn-primary,.btn[disabled],.btn[disabled].btn-primary,.button.disabled,.button.disabled.btn-primary,.button[disabled],.button[disabled].btn-primary,button.disabled,button.disabled.btn-primary,button[disabled],button[disabled].btn-primary {
	color: #fff;
	background-color: #617fde;
	cursor: default;
	opacity: .54
}

.btn.disabled.btn-cancel,.btn[disabled].btn-cancel,.button.disabled.btn-cancel,.button[disabled].btn-cancel,button.disabled.btn-cancel,button[disabled].btn-cancel {
	color: rgba(0,0,0,.85);
	background-color: #eee;
	border: 1px solid #d3d3d3;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: default;
	opacity: .24
}

.btn.disabled.btn-cancel.btn-tny,.btn[disabled].btn-cancel.btn-tny,.button.disabled.btn-cancel.btn-tny,.button[disabled].btn-cancel.btn-tny,button.disabled.btn-cancel.btn-tny,button[disabled].btn-cancel.btn-tny {
	padding-top: 6px;
	padding-bottom: 6px
}

.btn.disabled.btn-cancel.btn-sml,.btn[disabled].btn-cancel.btn-sml,.button.disabled.btn-cancel.btn-sml,.button[disabled].btn-cancel.btn-sml,button.disabled.btn-cancel.btn-sml,button[disabled].btn-cancel.btn-sml {
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 13px
}

.btn.disabled.btn-cancel.btn-med,.btn[disabled].btn-cancel.btn-med,.button.disabled.btn-cancel.btn-med,.button[disabled].btn-cancel.btn-med,button.disabled.btn-cancel.btn-med,button[disabled].btn-cancel.btn-med {
	padding-top: 10px;
	padding-bottom: 10px
}

.btn.disabled.btn-cancel.btn-lrg,.btn[disabled].btn-cancel.btn-lrg,.button.disabled.btn-cancel.btn-lrg,.button[disabled].btn-cancel.btn-lrg,button.disabled.btn-cancel.btn-lrg,button[disabled].btn-cancel.btn-lrg {
	padding-top: 12px;
	padding-bottom: 12px
}

.btn.disabled.btn-alert,.btn[disabled].btn-alert,.button.disabled.btn-alert,.button[disabled].btn-alert,button.disabled.btn-alert,button[disabled].btn-alert {
	color: #fff;
	background-color: red;
	cursor: default;
	opacity: .54
}

button::-moz-focus-inner {
	border: 0;
	padding: 0
}

.ie .btn,.ie .button,.ie button {
	line-height: inherit
}

.mixed-input .mixed-input-btn {
	color: #fff;
	background: #617fde;
	cursor: pointer;
	text-align: center
}

.mixed-input .mixed-input-btn:focus,.mixed-input .mixed-input-btn:hover {
	background-color: #476ad8
}

.mixed-input .mixed-input-btn:active {
	background-color: #2c54d3
}

.mixed-input .mixed-input-btn.disabled {
	color: rgba(0,0,0,.36);
	background: #eee;
	cursor: default
}

.btns .btn-loading,.btns.ing .btn-initial {
	display: none
}

.btns.ing .btn-loading,.icon_sign {
	display: inline-block
}

.icon-email-orange {
	background-position: -56px -68px
}

.icon-email-gray {
	background-position: -80px -68px
}

.icon-lock-orange {
	background-position: -104px -68px
}

.icon-lock-gray {
	background-position: -128px -68px
}

.icon-logo {
	width: 64px;
	height: 68px;
	background-position: 0 0
}

.icon-name-orange {
	width: 24px;
	height: 24px;
	background-position: -152px -68px
}

.icon-name-gray {
	width: 24px;
	height: 24px;
	background-position: -56px -92px
}

.icon-facebook,.icon-google,.icon-twitter {
	width: 56px;
	height: 56px
}

.icon-facebook {
	background-position: -64px 0
}

.icon-google {
	background-position: -120px 0
}

.icon-twitter {
	background-position: 0 -68px
}

.icon_sign {
	background-size: 176px 124px;
	background-repeat: no-repeat
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) {
	.icon_sign {
		background-size: 176px 124px
	}
}

::-webkit-input-placeholder {
	color: rgba(0,0,0,.18)
}

:-moz-placeholder {
	color: rgba(0,0,0,.18)
}

::-moz-placeholder {
	color: rgba(0,0,0,.18)
}

:-ms-input-placeholder {
	color: rgba(0,0,0,.18)!important
}

/* a,body,div,html,i,li,p,span,ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit
} */

a,a:visited {
	/* color: #617fde; */
	text-decoration: none
}


a:active,a:hover {
	outline: 0
}

input,input:focus {
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

/* img {
	border-radius: 50%
}

body {
	line-height: 1;
	font-family: -apple-system,".SFNSText-Regular","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif,Meiryo;
	background: #fdfdfd;
	-webkit-font-smoothing: antialiased
} */

.sign {
	max-width: 400px;
	min-width: 300px;
	margin: 20px auto 10px auto;
	color: rgba(0,0,0,.85)
}

.card {
	margin: 0 auto
}

.logo {
	text-align: center;
	margin-bottom: 15px
}

.card-section {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.06);
	border-radius: 2px;
	padding: 0px 20px 20px 20px;
}

.sign .row {
	border-bottom: 1px solid rgba(0,0,0,.06);
	border-radius: 1px;
	-webkit-transition: border-color ease-in-out .15s;
	transition: border-color ease-in-out .15s;
	margin: 20px 0;
}

.sign .row.active {
	-webkit-transition: border-color ease-in-out .15s;
	transition: border-color ease-in-out .15s
}

.sign .row.email input,.sign .row.username input,.sign .row.name input,.sign .row.password input,.sign .row.identiCode input, .sign .row.verifyCode input, .sign .row.set-password input, .sign .row.reset_password input {
	border: 0;
	font-size: 16px;
	padding: 10px 10px 8px 8px;
	/* width: -webkit-calc(100% - 70px);
	width: calc(100% - 70px) */
	width: 84%;;
}
.sign .row.verifyCode input,.sign .row.identiCode input  {
	width: calc(70% - 70px)
}

.sign .row.forgot-password,.sign .row.submit, .sign .row.identiCode {
	border-bottom: none
}

.sign .row.submit {
	margin: 30px auto 20px
}

.sign .row #getverifyCode {
	width: 34%;
	background: rgb(255,202,75);
	color: #fff;
    min-width: 50px;
}

.sign .row.forgot-password {
	margin: 0;
	text-align: left;
	font-size: 13px
}

.middle-line,.signin-sns ul {
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.input-bar {
	display: block;
	width: 100%;
	height: 1px
}

.input-bar:after,.input-bar:before {
	content: "";
	height: 1px;
	width: 0;
	bottom: -1px;
	position: absolute;
	background-color: rgb(255,202,75);
	border-radius: 1px;
	-webkit-transition: all .28s cubic-bezier(.4,0,.2,1);
	transition: all .28s cubic-bezier(.4,0,.2,1)
}

.input-bar:before {
	left: 50%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.input-bar:after {
	right: 50%;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}

input:focus~.input-bar:before {
	left: 0;
	width: 51%;
}

input:focus~.input-bar:after {
	right: 0;
	width: 50%;
}

.switch-site {
	display: none
}

.chrome-extension .forgot-password .switch-site {
	float: left
}

.sign .row .icon {
	position: relative;
	top: 6px
}

.middle-line:after,.middle-line:before {
	background-color: rgba(0,0,0,.06);
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%
}

.middle-line:before {
	right: .5em;
	margin-left: -50%
}

.middle-line:after {
	left: .5em;
	margin-right: -50%
}

.sns-title {
	color: rgba(0,0,0,.24);
	font-size: 13px;
	padding: 30px 0 36px
}

.private {
	margin: 0;
}

.policy-tip {
	font-size: 12px;
	line-height: 16px;
	color: rgba(0,0,0,.36);
	width: 95%;
	float: right;
}

.signin-sns ul li {
	display: inline-block
}

.signin-sns ul li.second {
	margin: 0 42px
}

.signin-sns ul li:hover {
	opacity: .9
}

.link.sign-link,.link.signin,.link.signup {
	text-align: center;
	padding-top: 35px;
	font-size: 14px
}
.signup-page .link.signup {
	padding-top: 10px;
	text-align: center;
	font-size: 14px
}
.link.message {
	line-height: 25px;
	padding: 40px 0 0
}

.link.success {
	padding: 40px 0
}

.sign .button {
	cursor: pointer;
	-webkit-appearance: none;
	font-size: 16px;
	width: 90%
}

.error {
	position: absolute;
	right: 0;
	z-index: 2
}

.error .warn,.warn {
	display: none;
	color: red;
	font-size: 13px;
	margin-top: 6px;
	line-height: 1.3
}

.error.long {
	position: relative
}

@media only screen and (max-width:460px) {
	.sign {
		width: 95%
	}

	.sign .signin-sns ul li:nth-child(2) {
		margin: 0 10px
	}
}